---
- name: Configure AWX
  hosts: localhost
  connection: local

  tasks:
    - name: Remove Demo Template
      awx.awx.job_template:
        name: Demo Job Template
        organization: Default
        state: absent

    - name: Remove Demo credential
      awx.awx.credential:
        name: Demo Credential
        credential_type: Machine
        state: absent

    - name: Remove Demo inventory
      awx.awx.inventory:
        name: Demo Inventory
        organization: Default
        state: absent

    - name: Remove Demo project
      awx.awx.project:
        name: Demo Project
        organization: Default
        state: absent

    - name: Create project
      awx.awx.project:
        name: Project
        organization: Default
        state: present
        scm_type: git
        scm_url: git@github.com:arrowecsdk/inspirationday_automation.git
        credential: "GitHub"

    - name: Azure inventory
      awx.awx.inventory:
        name: Azure Inventory
        organization: Default
        state: present

    - name: Add Azure inventory source
      awx.awx.inventory_source:
        name: "azure-source"
        inventory: Azure Inventory
        source: azure_rm
        credential: AzureCred
        overwrite: True
        update_on_launch: True
        organization: Default
        source_vars:
          keyed_groups:
            - prefix: tag
              key: tags

    - name: AWS inventory
      awx.awx.inventory:
        name: AWS Inventory
        organization: Default
        state: present

    - name: Add AWS inventory source
      awx.awx.inventory_source:
        name: "aws-source"
        inventory: AWS Inventory
        source: ec2
        credential: AWSCred
        overwrite: True
        update_on_launch: True
        organization: Default
        source_vars:
          keyed_groups:
            - prefix: tag
              key: tags

    - name: Create Azure Templates
      awx.awx.job_template:
        name: "{{ item.name }}"
        job_type: run
        inventory: Azure Inventory
        project: Project
        playbook: "{{ item.playbook }}"
        organization: Default
        state: present
        credential: "{{ item.cred }}"
      loop:
        - {
            name: "Azure RG",
            playbook: "Azure-Playbook/01_azure_rg.yml",
            cred: "AzureCred",
          }
        - {
            name: "Azure Network",
            playbook: "Azure-Playbook/01_azure_network.yml",
            cred: "AzureCred",
          }
