---
- name: Configure AWX
  hosts: localhost
  connection: local

  vars:
    ssh_public_key: "{{lookup('file', '~/.ssh/id_rsa.pub') }}"
    ssh_private_key: "{{lookup('file', '~/.ssh/id_rsa') }}"

  tasks:
    - name: Remove Demo Template
      awx.awx.job_template:
        name: Demo Job Template
        organization: Default
        state: absent

    - name: Remove Demo credential
      awx.awx.credential:
        name: Demo Credential
        credential_type: Machine
        state: absent

    - name: Remove Demo inventory
      awx.awx.inventory:
        name: Demo Inventory
        organization: Default
        state: absent

    - name: Remove Demo project
      awx.awx.project:
        name: Demo Project
        organization: Default
        state: absent

    - name: Create project
      awx.awx.project:
        name: Project
        organization: Default
        state: present
        scm_type: git
        scm_url: git@github.com:arrowecsdk/inspirationday_automation.git
        credential: "GitHub"

    - name: Azure inventory
      awx.awx.inventory:
        name: Azure Inventory
        organization: Default
        state: present

    - name: Add Azure inventory source
      awx.awx.inventory_source:
        name: "azure-source"
        inventory: Azure Inventory
        source: azure_rm
        credential: AzureCred
        overwrite: True
        update_on_launch: True
        organization: Default
        source_vars:
          keyed_groups:
            - prefix: tag
              key: tags

    - name: AWS inventory
      awx.awx.inventory:
        name: AWS Inventory
        organization: Default
        state: present

    - name: Add AWS inventory source
      awx.awx.inventory_source:
        name: "aws-source"
        inventory: AWS Inventory
        source: ec2
        credential: AWSCred
        overwrite: True
        update_on_launch: True
        organization: Default
        source_vars:
          keyed_groups:
            - prefix: tag
              key: tags

    - name: Create Azure Templates
      awx.awx.job_template:
        name: "{{ item.name }}"
        job_type: run
        inventory: Azure Inventory
        project: Project
        playbook: "{{ item.playbook }}"
        organization: Default
        state: present
        credential: "{{ item.cred }}"
        extra_vars: "{{ item.extra }}"
      loop:
        - {
            name: "Azure RG",
            playbook: "Azure-Playbook/01_azure_rg.yml",
            cred: "AzureCred",
            extra: '{ "none": "empty" }',
          }
        - {
            name: "Azure Network",
            playbook: "Azure-Playbook/02_azure_network.yml",
            cred: "AzureCred",
            extra: '{ "none": "empty" }',
          }
        - {
            name: "Azure Compute",
            playbook: "Azure-Playbook/03_azure_compute.yml",
            cred: "AzureCred",
            extra: '{ "ssh_public_key": "{{ ssh_public_key }}"}',
          }
        - {
            name: "Azure Compute Conf",
            playbook: "Azure-Playbook/04_azure_compute_conf.yml",
            cred: "AzureVMCred",
            extra: '{ "none": "empty" }',
          }
        - {
            name: "Azure Loadbalancer",
            playbook: "Azure-Playbook/05_azure_loadbalancer.yml",
            cred: "AzureCred",
            extra: '{ "none": "empty" }',
          }
        - {
            name: "Azure DNS",
            playbook: "Azure-Playbook/06_azure_domain.yml",
            cred: "AzureCred",
            extra: '{ "none": "empty" }',
          }

    - name: Create Azure VM credential
      awx.awx.credential:
        name: AzureVMCred
        credential_type: Machine
        state: present
        organization: Default
        inputs:
          username: azureuser
          ssh_key_data: "{{ ssh_private_key }}"

    - name: Create Azure workflow job template
      awx.awx.workflow_job_template:
        name: Azure-workflow
        inventory: Azure Inventory
        extra_vars: { "foo": "bar", "another-foo": { "barz": "bar2" } }
        workflow_nodes:
          - identifier: node101
            unified_job_template:
              name: example-project
              inventory:
                organization:
                  name: Default
              type: inventory_source
            related:
              success_nodes: []
              failure_nodes:
                - identifier: node201
              always_nodes: []
              credentials: []
          - identifier: node201
            unified_job_template:
              organization:
                name: Default
              name: job template 1
              type: job_template
            credentials: []
            related:
              success_nodes:
                - identifier: node301
              failure_nodes: []
              always_nodes: []
              credentials: []
          - identifier: node202
            unified_job_template:
              organization:
                name: Default
              name: example-project
              type: project
            related:
              success_nodes: []
              failure_nodes: []
              always_nodes: []
              credentials: []
          - identifier: node301
            all_parents_must_converge: false
            unified_job_template:
              organization:
                name: Default
              name: job template 2
              type: job_template
            execution_environment:
              name: My EE
            inventory:
              name: Test inventory
              organization:
                name: Default
            related:
              credentials:
                - name: cyberark
                  organization:
                    name: Default
              instance_groups:
                - name: SunCavanaugh Cloud
                - name: default
              labels:
                - name: Custom Label
                - name: Another Custom Label
                  organization:
                    name: Default
      register: result
